<%= turbo_frame_tag "new_team_modal" do %>
  <div id="overlay" class="fixed inset-0 z-10" data-controller="modal" data-modal-target="frame">
    <div class="modal bg-white" style="width: 75%" data-modal-target="modal">
      <h1 id="modal-title" class="dark:text-slate-100">New team</h1>
      <%= render "form", team: @team %>
    </div>
    <div>
<% end %>