<%= turbo_frame_tag "modal" do %>
  <div id="overlay" class="fixed inset-0" data-controller="modal" data-modal-target="frame"><div>
    <div  id="modal" class="bg-transparent" data-modal-target="modal">
        <button type="button" class="sm:mx-0 w-full text-white font-wold text-xl flex justify-end py-3 my-3" data-action="click->modal#close">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
            	<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
		<div id="teams" class="h-full overflow-scroll">
        	<% if @department.teams.empty? %>
            	<h1 class="uppercase text-start text-white font-bold text-xl">There is not team associated to this departement!</h1>
        	<% else %>
            	<h1 class="uppercase text-start text-white font-bold text-xl"><%= @department.teams.count %> teams in <%= @department.name %></h1>
				<div  class="grid grid-row-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 flex">
				<% @department.teams.each do |t| %>
					<div class="rounded-full bg-dark-purple text-white w-48 h-48 flex align-center justify-center items-center my-3 mx-3">
						<h2 class="text-xl font-semibold"><%= link_to t.name, department_team_path(@department.id, t) , data: { turbo_frame: "_top" }  %></h2>
					</div>
				<% end %>
				</div>
        	<% end %>
		</div>
    </div>
<% end %>